my_env/

# Ignore Node modules (if using Node.js)
node_modules/

# Ignore history or backup folders
.history/

# Ignore compiled Python files
*.pyc
__pycache__/

a.out

data/ppp_2020_1km_Aggregated.tif
